/* Custom Style for 2017 */

	.has-header-image.twentyseventeen-front-page .custom-header,
	.has-header-video.twentyseventeen-front-page .custom-header,
	.has-header-image.home.blog .custom-header,
	.has-header-video.home.blog .custom-header {
		display: block;
		height: 90vh;
	}

	.twentyseventeen-front-page.has-header-image .site-branding, 
	.twentyseventeen-front-page.has-header-video .site-branding, 
	.home.blog.has-header-image .site-branding, 
	.home.blog.has-header-video .site-branding {
		
		display: table;
		height: 100%;
	}

	#masthead .wrap {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-family: 'Amaranth', sans-serif;
	}

	#masthead .wrap .custom-logo-link img {
		display: block;
		max-height: 150px;
	}

	.custom-header-media{
		background-image: url('https://2017.colombo.wordcamp.org/files/2017/02/background.png');
		background-size:cover;
	}